* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/304795.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-top: 80px;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: red;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar .toggle_btn {
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.action_btn {
    background-color: orange;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.3s;
}

.action_btn:hover {
    color: white;
    scale: 1.2;
}

.action_btn:active {
    transform: scale(0.9);
}

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.burger_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger_menu.open {
    height: 240px;
}

.burger_menu li {
    display: flex;
    justify-content: center;
    padding: 0.7rem;
    text-align: center;
}

.burger_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wraps {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.single-card {
    position: relative;
    flex: 1 1 300px;
    max-width: 320px;
}

.card {
    position: relative;
    width: 100%;
    height: 450px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.6s case;
    cursor: pointer;
}

.card::before {
    content:'';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background: linear-gradient(45deg, black, blue);
    transform: skewX(-25deg);
    transition: left 0.6s ease;
    z-index: 1;
}

h2 {
    margin: 15px 0;
    font-size: 24px;
    color: grey;
    transition: color 0.6s ease;
}

p {
    margin: 0;
    color: grey;
    font-size: 14px;
    line-height: 1.7;
}

.card:hover {
    transition: 0.5s ease-in-out;
    transform: translateY(-30px) rotate(2deg);
    box-shadow: 0 20px 40px black;
    
}

.card:hover::before {
    left: 100%;
}

.content {
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.6s ease;
}

.card:hover .card-image {
    transform: scale(1.05);
}

.card:hover h2 {
    color: red;
}

.card a {
    text-decoration: none;
    display: inline-block;
    background: black;
    margin-top: 15px;
    padding: 10px 30px;
    color: white;
    border-radius: 50px;
}

.card:hover a {
    background: palevioletred;
}

@media (max-width: 760px) {
    .single-card {
        flex: 1 1 100%;
        max-width: 400px;
    }
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .burger_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .burger_menu {
        left: 2rem;
        width: unset;
    }
}